<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.project.web.chat.dao.IChatContentDAO">
	
	<insert id="insertContent" parameterType="chatContentVO">
		INSERT INTO chat_content 
		VALUES(#{chat_seq},#{room_id},#{send},#{receive},#{content},(SYSDATE + (INTERVAL '9' HOUR)),#{read_state},#{s_id},#{r_id})
	</insert>
	
	<select id="selectContentList" resultType="chatContentVO">
		SELECT * FROM chat_content WHERE room_id = #{roomId} ORDER BY chat_seq
	</select>
	
	<select id="selectNumCount" resultType="Integer">
		SELECT COUNT(1) FROM chat_content
	</select>
	
	<select id="selectReceiveCount" parameterType="String" resultType="Integer">
		SELECT COUNT(1) FROM chat_content WHERE r_id=#{id} AND read_state='no'
	</select>
	
	<select id="selectReceiveRoomCount" parameterType="chatContentVO" resultType="Integer">
		SELECT COUNT(1) FROM chat_content WHERE room_id = #{room_id} AND read_state=#{read_state} AND r_id=#{r_id}
	</select>
	
	<update id="updateRead" parameterType="chatContentVO">
		UPDATE chat_content SET read_state=#{read_state}  WHERE room_id=#{room_id} AND r_id=#{r_id}
	</update>
	
</mapper>
