<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.project.web.chat.dao.IChatContentDAO">
	
	<insert id="insertContent" parameterType="chatContentVO">
		INSERT INTO chat_content VALUES(#{chat_seq},#{room_id},#{send},#{receive},#{content},sysdate)
	</insert>
	
	<select id="selectContentList" resultType="chatContentVO">
		SELECT * FROM chat_content WHERE room_id = #{roomId}
	</select>
	
	<select id="selectNumCount" parameterType="String" resultType="Integer">
			SELECT COUNT(1) FROM chat_content WHERE room_id = #{roomId}
	</select>
	
</mapper>
