<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.project.web.member.dao.IExpertDAO">

	<insert id="insertExpert"
		parameterType="main.project.web.member.vo.ExpertVO">
		INSERT INTO member_expert(id,name,tel,career,point)
		VALUES(#{id},#{name},#{tel},#{career},#{point})
	</insert>

	<update id="updateExpert"
		parameterType="main.project.web.member.vo.ExpertVO">
		UPDATE member_expert
		SET tel=#{tel},career=#{career},point=#{point}
		WHERE id=#{id}
	</update>

	<delete id="deleteExpert" parameterType="String">
		DELETE FROM member_expert WHERE id=#{id}
	</delete>

	<select id="selectExpert" parameterType="String"
		resultType="main.project.web.member.vo.ExpertVO">
		SELECT * FROM member_expert
		WHERE id=#{expert_id}
	</select>

		
	<insert id="insertRankExpert"
		parameterType="String">
		INSERT INTO member_expert 
		VALUES(#{id},'변경 후 사용','변경 후 사용','변경 후 사용',0)
	</insert>
	

</mapper>
