<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.project.web.member.dao.IMemberDAO">
	<select id="checkMemberId" parameterType="String"
		resultType="memberVO">
		SELECT * FROM member WHERE id = #{member_id}
	</select>

	<select id="selectMember" parameterType="memberVO"
		resultType="memberVO">
		SELECT * FROM member WHERE id = #{id}
	</select>

	<insert id="insertMember" parameterType="memberVO">
		INSERT INTO
		member VALUES (#{id},#{pwd},#{nick_name}, #{rank})
	</insert>

	<update id="updateMember" parameterType="memberVO">
		UPDATE member
		SET
		pwd=#{pwd}, nick_name=#{nick_name},rank=#{rank}
		WHERE
		id=#{id}
	</update>

	<update id="rankupdate" parameterType="String">

		UPDATE member
		SET rank = 'E'
		WHERE id = #{member_id}
	</update>

	<delete id="deleteMember" parameterType="memberVO">
		DELETE FROM
		member
		WHERE id=#{id} AND pwd=#{pwd}
	</delete>
	
	<select id="selectAllMember" resultType="memberVO">
		SELECT * FROM member ORDER BY ID asc
	</select>
	
	<delete id="admindeleteMember" parameterType="memberVO">
		DELETE FROM
		member
		WHERE id=#{id}
		
	</delete>

	<!--  
	<select id="selectMemberEmail" parameterType="MemberFindVO"
		resultType="memberVO">
		SELECT ID FROM member WHERE id = #{value}
	</select>
	
	<select id="selectMembernick_name" parameterType="MemberFindVO"
		resultType="memberVO">
		SELECT nick FROM member WHERE nick_name = #{value}
	</select>
	-->
</mapper>
