<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="main.project.web.purchase.dao.IPurchaseDAO">
	<insert id="insertPurchase" parameterType="purchaseVO">
		INSERT INTO purchase VALUES 
		(#{purchase_num},#{product_num},(SYSDATE + (INTERVAL '9' HOUR)),#{purchase_state},#{member_id},#{purchase_price},#{expert_id})
	</insert>
	<update id="updatePurchase" parameterType="purchaseVO">
		UPDATE purchase SET purchase_state=#{purchase_state}
		WHERE purchase_num=#{purchase_num}
	</update>
	<delete id="deletePurchase" parameterType="String">
		 DELETE FROM purchase WHERE purchase_num=#{purchaseNum}
	</delete>
	<select id="selectPurchase" parameterType="String" resultType="purchaseVO">
		SELECT * FROM purchase WHERE purchase_num=#{purchaseNum}
	</select>
	<select id="selectListPurchase" resultType="purchaseVO">
		 SELECT * FROM purchase ORDER BY purchase_num DESC 
	</select>
	<select id="selectPurchaseList" resultType="purchaseVO">
		SELECT * FROM purchase WHERE member_id = #{member_id} ORDER BY purchase_num DESC
	</select>
	<select id="selectExpertPurchase" resultType="purchaseVO">
		SELECT * FROM purchase WHERE expert_id = #{expert_id} ORDER BY purchase_num DESC
	</select>
	<select id="selectMemberOrder" resultType="purchaseVO">
		SELECT * FROM purchase WHERE member_id =#{member_id} AND purchase_state=#{purchase_state} ORDER BY purchase_num DESC
	</select>
	<select id="selectExpertOrder" resultType="purchaseVO">
		SELECT * FROM purchase WHERE expert_id = #{expert_id} AND purchase_state=#{purchase_state} ORDER BY purchase_num DESC
	</select>	
	<!-- 장바구니 -->
	<insert id="addCart" parameterType="cartVO" >
		INSERT INTO cart VALUES (#{num}, #{member_id}, #{product_num}, #{product_title}, #{price}, #{expert_nick} ,#{Thumbnail})
	</insert>
	<select id="selectMyCart" resultType="cartVO">
		SELECT * FROM cart WHERE member_id = #{memberId}
	</select>
	<select id="getCart" parameterType="String" resultType="cartVO">
		SELECT * FROM cart WHERE num = #{cartNum}
	</select>
	<delete id="deleteCart" parameterType="String">
		DELETE FROM cart WHERE num = #{cartNum}
	</delete>
	<delete id="checkOut" parameterType="String">
		DELETE FROM cart WHERE member_id = #{memberId}
	</delete>
	
	<select id="purchaseFindList" parameterType="findVO" resultType="purchaseVO">
		SELECT * FROM purchase WHERE 
		<if test="category=='product_num'">
			product_num like '%'||#{findText}||'%'
		</if>
		<if test="category=='member_id'">
			member_id like '%'||#{findText}||'%'
		</if>
	</select>
	
	<!-- 통계 -->
	<select id="totalPoint" resultType="Integer">
		SELECT SUM(purchase_price) FROM (SELECT * from purchase WHERE purchase.purchase_state !='Cancel')
	</select>
	<select id="totalCountPurchase" resultType="Integer">
		SELECT COUNT(*) FROM purchase WHERE purchase_state !='Cancel'
	</select>
	<select id="Id_totalCountPurchase" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM (SELECT * FROM purchase WHERE purchase.purchase_state !='Cancel') WHERE member_id= #{id}
	</select>
	<select id="Id_totalPurchasePrice" parameterType="String" resultType="Integer">
		SELECT SUM(purchase_price) FROM (SELECT * FROM (SELECT * FROM purchase WHERE purchase.member_id=#{id}) WHERE purchase_state !='Cancel')
	</select>
	<select id="Id_PurchaseCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM (SELECT * FROM purchase WHERE purchase_state !='Cancel') WHERE expert_id=#{id}
	</select>
	<select id="Id_totalSalesPrice" parameterType="String" resultType="Integer">
		SELECT SUM(purchase_price) FROM (SELECT * FROM(SELECT * FROM purchase WHERE purchase.expert_id=#{id})WHERE purchase_state !='Cancel')
	</select>
	<select id="date_totalSales" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM (SELECT * FROM (SELECT * FROM purchase WHERE purchase_state !='Cancel') WHERE purchase_date like '%'||#{findYear}||'%')
	</select>
	<select id="productNum_PurchaseCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM (SELECT * FROM purchase WHERE product_num=#{product_num}) WHERE purchase_state !='Cancel'
	</select>
	
	<select id="countPurchase" resultType="int">
		SELECT COUNT(*) FROM purchase
	</select>
	<!-- total purchase page -->
	<select id="purchasePage" resultType="purchaseVO" parameterType="hashMap">
		select * from (
		select purchase_num, product_num, purchase_date, purchase_state, member_id, purchase_price, expert_id,
		row_number() over(order by purchase_num desc) as rNum
		from purchase) 
		mb where rNum between #{displayPost} and #{postNum} order by purchase_num desc
	</select>
</mapper>