<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.project.web.question.dao.IQuestionDAO">
		<insert id="insertQuestion" parameterType="questionVO" >
			INSERT INTO BOARD_QUESTION(
				BOARD_QUESTION_NUM,
				BOARD_QUESTION_TITLE,
				BOARD_QUESTION_INFO,
				BOARD_QUESTION_DATE,
				BOARD_QUESTION_WRITER,
				STATE
			)
			VALUES 
			(
				#{board_question_num}, 
				#{board_question_title},
				#{board_question_info},
				(SYSDATE + (INTERVAL '9' HOUR)),
				#{board_question_writer},
				#{state}
			)
		</insert>
		<delete id="deleteQuestion" parameterType="questionVO" >
			DELETE FROM board_question WHERE 
			board_question_num=#{board_question_num}
		</delete>
		<select id="selectQuestion" parameterType="questionVO" resultType="questionVO">
			SELECT * FROM board_question WHERE 
			board_question_num=#{board_question_num}
		</select>
		<select id="selectListQuestion" resultType="questionVO">
			SELECT * FROM board_question ORDER BY board_question_num DESC
		</select>
		<select id="selectNumQuestion" resultType="Integer">
			SELECT MAX(BOARD_QUESTION_NUM)+1 FROM BOARD_QUESTION
		</select>
		<select id="selectTotal" resultType="Integer">
			 SELECT COUNT(*) FROM board_question
		</select>
		<select id="selectStateTotal" resultType="Integer">
			 SELECT COUNT(*) FROM board_question where state='접수 중'
		</select>
		<select id="questionPageM" parameterType="hashMap" resultType="questionVO">
			SELECT * FROM (select board_question_num, board_question_title, board_question_info,
            board_question_file, board_question_date, board_question_writer, state,
			row_number() over(ORDER BY state desc, board_question_date asc) as rNum from board_question)
			mb where rNum between #{displayPost} and #{postNum} order by state desc
		</select>
		<select id="questionPage" parameterType="hashMap" resultType="questionVO">
			SELECT * FROM (select board_question_num, board_question_title, board_question_info,
            board_question_file, board_question_date, board_question_writer, state,
			row_number() over(ORDER BY board_question_date DESC) as rNum from board_question)
			mb where rNum between #{displayPost} and #{postNum} order by board_question_date desc
		</select>
		<update id="rejoinderQuestion" parameterType="questionVO" >
			UPDATE board_question SET state = #{state},
			board_question_info_r = #{board_question_info_r} 
			WHERE board_question_num = #{board_question_num}
		</update>
</mapper>
