<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="main.project.web.member.vo.MemberVO" alias="memberVO"></typeAlias>
		<typeAlias type="main.project.web.question.vo.QuestionVO" alias="questionVO"></typeAlias>
		<typeAlias type="main.project.web.question.vo.PagingVO" alias="pagingVO"></typeAlias>
		<typeAlias type="main.project.web.product.vo.ProductVO" alias="productVO"></typeAlias>
		<typeAlias type="main.project.web.chat.vo.ChatContentVO" alias="chatContentVO"></typeAlias>
		<typeAlias type="main.project.web.chat.vo.RoomListVO" alias="roomListVO"></typeAlias>
		<typeAlias type="main.project.web.purchase.vo.PurchaseVO" alias="purchaseVO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/memberMapper.xml" />
		<mapper resource="mybatis/mappers/expertMapper.xml" />
		<mapper resource="mybatis/mappers/questionMapper.xml" />
		<mapper resource="mybatis/mappers/productMapper.xml" />
		<mapper resource="mybatis/mappers/chatContentMapper.xml" />
		<mapper resource="mybatis/mappers/roomListMapper.xml" />
		<mapper resource="mybatis/mappers/purchaseMapper.xml" />
	</mappers>
</configuration>
